<ion-content class="content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-subtitle> Have an opportunity? </ion-card-subtitle>
            <ion-card-title class="title"> Contact Douglas</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-note><small>
                Note: I will not sell or use your email improperly.
              </small>
            </ion-note>
            <form [formGroup]="emailForm" novalidate (ngSubmit)="onSubmit()">
              <ion-input label="Name" helperText="Name is required" errorText="Please enter full name" counter="true"
                maxlength="30" type="text" fill="outline" labelPlacement="floating" formControlName="name" name
                autocapitalize="words" autocomplete="name">
                <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
              <ion-input helperText="Email is required" errorText="Please enter a valid email" label="Email"
                fill="outline" counter="true" maxlength="30" labelPlacement="floating" type="email"
                formControlName="email" email autocomplete="email">
                <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
              </ion-input>
              <ion-textarea helperText="Message required" errorText="Please enter a longer message" label="Message"
                fill="outline" counter="true" maxlength="1000" autocapitalize="on" autocorrect="on" autoGrow="true"
                wrap="soft" labelPlacement="floating" formControlName="message" message>
              </ion-textarea>
              <div class="ion-text-center">
                <ion-button type="submit" shape="round" color="primary" strong>
                  Submit
                </ion-button>
              </div>
            </form>
          </ion-card-content>
          {{emailForm.status}}
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer class="footer"></app-footer>