<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <ion-icon color="primary" aria-hidden="true" name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <ion-icon aria-hidden="true" color="primary" name="document"></ion-icon>
      Resume
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon color="primary" aria-hidden="true" name="mail"></ion-icon>
      Contact
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
