<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon color="tertiary" aria-hidden="true" name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <ion-icon aria-hidden="true" color="tertiary" name="document"></ion-icon>
      Resume
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon color="tertiary" aria-hidden="true" name="mail"></ion-icon>
      Contact
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
