<ion-app>
  <ion-header [translucent]="true" class="header" collapse="fade">
    <ion-toolbar color="primary">
      <ion-img src="../assets/images/computer-code.png" alt="computer"  slot="start" routerLink="/"
        style="padding-left: 10px; height: 42px;"></ion-img>
      <ion-title> Douglas White </ion-title>
      <ion-buttons slot="end">
        <ion-icon color="warning" name="sunny"></ion-icon>
        <ion-toggle (ionChange)="toggleChange($event)" checked="palletToggle" class="toggle"></ion-toggle>
        <ion-icon style="padding-right: 10px" name="moon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content">
    <ion-router-outlet></ion-router-outlet>
    <ion-button *ngIf="pwa.promptEvent" (click)="installPwa()">
      Install
    </ion-button>
  </ion-content>
</ion-app>