<ion-app>
  <ion-header [translucent]="true" class="header" collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="currentRoute === 'landing'">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-icon
        src="../assets/computer-code.svg"
        size="large"
        slot="start"
        routerLink="/"
      ></ion-icon>
      <ion-title> DouglasWhite.app </ion-title>
      <ion-buttons slot="end">
        <ion-icon size="large" color="warning" name="sunny"></ion-icon>
        <ion-toggle (ionChange)="toggleChange($event)" justify="space-between"
          ></ion-toggle
        >
        <ion-icon size="large" color="light" name="moon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-button *ngIf="pwa.promptEvent" (click)="installPwa()">
      Install
    </ion-button>
  </ion-content>
</ion-app>
