<ion-content class="content ion-text-center display">
  <ion-header
    ><ion-toolbar><ion-title>Resume</ion-title></ion-toolbar></ion-header
  >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ngx-extended-pdf-viewer
          class="pdf-viewer"
          [src]="'../../assets/resume.pdf'"
          filenameForDownload="Douglas_White_Resume"
          height="95vh"
          zoom="auto"
          [showBorders]="true"
          [showPropertiesButton]="true"
          [showPagingButtons]="true"
          [showSecondaryToolbarButton]="false"
          [showSidebarButton]="false"
          [showRotateButton]="false"
          backgroundColor="#313131"
        >
        </ngx-extended-pdf-viewer>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-footer class="footer"></app-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
