details {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

summary {
  font-weight: bold;
}

details[open] summary {
  /* Optional styling for open state of summary */
  // background-color: var(--ion-text-color);
}

/* Specific styles for details content */
.skills-details {
  display: none; /* Initially hidden */
}

details[open] .job-details {
  display: block; /* Display details when open */
}