#landing {
  height: 95vh;
  width: 100vw;
}

/* Main section of each page */
.main {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.name {
  text-transform: uppercase;
}

.nameplate-info {
  width: 100%;
  font-weight: bold;
}

.myImage {
  border-radius: 15px;
}

ion-card {
  border-radius: 15px;
  justify-content: center;
}
