<ion-content [scrollEvents]="true" (ionScroll)="onScrollEnd($event)" class="content">
  <ion-grid>
    <section class="hero-section">
      <ion-row class="hero">
        <ion-col size-md="6" size-xs="12" class="ion-align-items-center">
          <ion-card class="hero-text">
            <h1 class="h1">Douglas White</h1>
            <h5 class="m1">Web Application Developer</h5>
            <h5 class="m2">Building Enterprise PWAs</h5>
            <h5 class="m3">Bringing Ideas to Life </h5>
          </ion-card>
          <app-hero-devices class="hero-image"></app-hero-devices>
          <ion-button size="large" shape="round" color="tertiary" strong routerLink="/contact" class="hero-button">
            Contact me
          </ion-button>
        </ion-col>
      </ion-row>
    </section>
    <section class="tech-section">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4" size-xl="3">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title class="title">
                <h3>
                  Frameworks
                </h3>
              </ion-card-title>
              <ion-card-subtitle class="sofa">
                Interactive Visualizations
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <app-radar></app-radar>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4" size-xl="3" class="ion-align-items-center">
          <ion-card>
            <app-gauges></app-gauges>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center extra-margin">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4" size-xl="3" class="ion-align-items-center">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>
                Developer Skills
              </ion-card-title>
              <ion-card-subtitle>
                Tech Stack
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <app-skills></app-skills>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center extra-margin">
        <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="6" size-xl="6" class="ion-align-items-center">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>
                <h3>
                  Developer Experience
                </h3>
              </ion-card-title>
              <ion-card-subtitle>
                Work History
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <app-experience></app-experience>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </section>
    <section class="about-section">
      <ion-row id="about" class="ion-justify-content-center extra-margin">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4" size-xl="3" class="ion-align-items-center">
          <ion-card class="ion-text-center contact-card">
            <ion-card-header class="ion-text-center">
              <ion-card-title lines="none" class="title nameplate-info">
                <h3>
                  Douglas White
                </h3>
              </ion-card-title>
              <ion-card-subtitle>
                Web Developer
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img height="200" width="200" src="../../assets/images/me.webp" class="myImage" alt="my picture" />
              <ion-item lines="none">
                <ion-icon slot="start" color="secondary" name="call"></ion-icon>
                &nbsp;
                <ion-label>
                  <a href="tel:15122931045">
                    512.293.1045
                  </a>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon slot="start" color="secondary" name="mail"></ion-icon>
                &nbsp;
                <ion-label class="ion-text-lowercase">
                  <a href="mailto:email@douglaswhite.dev" target="_blank">
                    email&#64;douglaswhite.dev
                  </a>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon slot="start" color="secondary" name="home"></ion-icon>
                &nbsp;
                <ion-label>
                  <a href="https://maps.app.goo.gl/B2Hh1HMbPeixop957" target="_blank">
                    Lubbock TX
                  </a>
                </ion-label>
              </ion-item>
              <ion-button routerLink="/resume" color="tertiary" shape="round">
                <ion-text>View Resume</ion-text>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </section>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    @if (showBackToTopFab) {
    <ion-fab-button id="up" [hidden]="!showBackToTopFab" class="up" size="small" (click)="scrollToTop()"
      color="tertiary">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
    }
  </ion-fab>
  <app-footer class="footer"></app-footer>
</ion-content>