/* Base styles for desktop */
.hero-section {
  height: calc(90vh);
}

.hero {
  justify-content: center;
  height: 100%;
}

.hero-text {
  position: absolute;
  padding: 1rem;
  text-align: left;
  left: 0;
  top: 100px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.6);
  color: var(--ion-text-color);
  h1 {
    font-size: 3rem;
  }

  h5 {
    font-size: 1rem;
  }
}

.hero-image {
  position: absolute;
  top: 100px;
  margin: 20px 70px;
  z-index: -1;
}

/* Media query for mobile devices (adjust screen size as needed) */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

.name {
  text-transform: uppercase;
}

.about-section {
  height: calc(100vh - 120px);
}

#about {
  height: 100%;
}

.tech-section {
  height: calc(100vh - 120px);
}

#tech {
  height: 100%;
}

.hero-button {
  position: absolute;
  left: 10px;
  top: 400px;
}

.gauge-card {
  height: 400px;
}

.m1 {
  animation: intro 0.75s ease-in-out 1s;
}

.m2 {
  animation: intro 0.75s ease-in-out 1.25s;
}

.m3 {
  animation: intro 0.75s ease-in-out 1.5s;
}

@keyframes intro {
  from {
    font-size: 22px;
  }
  to {
  }
}

.experience {
  height: calc(100vh - 48px);
}

ion-card {
  border-radius: 15px;
}