<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()" [strong]="true" color="tertiary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="height: 100%;" class="ion-no-margin">
    <ion-card-header style="display: flex;">
      <div style="margin-left: 70px;">
        <ion-card-title>
          {{ selectedJob.title }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ selectedJob.company }}
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{ selectedJob.dates }}
        </ion-card-subtitle>
      </div>
      <ion-thumbnail style="position: absolute;float: right; margin: 10px;">
        <ion-img [src]="selectedJob.logo"></ion-img>
      </ion-thumbnail>
    </ion-card-header>
    <ion-card-content>
      <ul>
        @for (desc of selectedJob.description; track desc) {
          <li>{{ desc }}</li>
        }
      </ul>
      <div class="image">
        <img [src]="selectedJob.image" />
      </div>
      <ion-fab *ngIf="selectedJob.id > 1" edge="true" horizontal="start" vertical="center">
          <ion-fab-button size="small" (click)="previous(selectedJob)">
            <ion-icon name="chevron-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab *ngIf="selectedJob.id < jobs.length" edge="true" horizontal="end" vertical="center">
          <ion-fab-button size="small" (click)="next(selectedJob)">
            <ion-icon  name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
</ion-content>