<ion-footer class="footer" translucent="true" collapse="fade">
  <ion-toolbar class="footer-toolbar">
    <ion-buttons slot="start">
      <ion-img src="../../../assets/images/computer-code.svg" alt="computer" class="logo"></ion-img>
    </ion-buttons>
    <ion-note style="color: var(--ion-text-color)" class="copyright">
      &#9426;{{ yearDate | date: "yyyy" }} www.douglaswhite.app
    </ion-note>
    <ion-buttons slot="end" class="icons">
      <a rel="noreferrer" href="https://github.com/Apsistec" target="_blank">
        <ion-icon class="icon" name="logoGithub"> </ion-icon>
      </a>
      <a rel="noreferrer" href="https://www.linkedin.com/in/apsistec/" target="_blank">
        <ion-icon class="icon" name="logoLinkedin"> </ion-icon>
      </a>
      <a rel="noreferrer" href="https://stackoverflow.com/users/10599330/doug-white?tab=profile" target="_blank">
        <ion-icon class="icon stack" name="logoStackoverflow"> </ion-icon>
      </a>
      <a rel="noreferrer" href="sms:512-293-1045">
        <ion-icon class="icon" name="call"> </ion-icon>
      </a>
      <a rel="noreferrer" href="mailto:doug@apsistec.app?subject=Coding Opportunity" target="_blank">
        <ion-icon class="icon" name="mail"> </ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>