.icon {
  position: relative;
  top: 0;
  margin: 1rem;
  font-size: 20px;
  color: var(--ion-text-color);
}

.logo {
  height: 38px;
  margin-left: 1rem;
}

.copyright {
  position: absolute;
  margin: 10px;
  font-size: x-small;
  bottom: -5px;
}
