

.link-icons {
  float: right;
  margin-right: 30px;
}

.icon {
  margin: 15px;
  font-size: 30px;
}

.github {
  color: var(--ion-text-color);
}

.stack {
  color: var(--ion-text-color);
}

.linkedin {
  color: var(--ion-text-color);
}

/* Logo in toolbars */
.logo {
  height: 42px;
  margin-left: 1rem;
}

.copyright {
  position: absolute;
  font-size: x-small;
  bottom: 5px;
}
